# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Environments
/src/environments/*.ts


# Node
/node_modules

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Compiled output
/dist

# Miscellaneous
/.angular/cache

# Firebase tools
firebase-debug.log
.firebaserc
.firebase
firebase.json
/public

# System files
.DS_Store
Thumbs.db
