<div class="page">

    <main class="content">
        <!-- Верхние круглые кнопки -->
        <section class="top-actions">
            <button class="pill" aria-label="О нас">
                <img class="icon-img" src="assets/world.png" alt="О нас" />
                <span class="pill-text">О нас</span>
            </button>

            <button class="pill" aria-label="Как все работает">
                <img class="icon-img" src="assets/question.png" alt="Как все работает" />
                <span class="pill-text">Как все работает</span>
            </button>

            <button class="pill" aria-label="Связь с нами">
                <img class="icon-img" src="assets/chat.png" alt="Связь с нами" />
                <span class="pill-text">Связь с нами</span>
            </button>
        </section>

        <!-- Список действий -->
        <nav class="list">
            <button class="list-item" (click)="navigateToItemsList()">
                <img class="list-icon-img" src="assets/edadeda.logo.png" alt="Найти edadeda" />
                <span class="list-text">Найти edudeda</span>
            </button>

            <button class="list-item" (click)="navigateToCreatingItem()">
                <img class="list-icon-img" src="assets/edadeda.logo.png" alt="Опубликовать edadeda" />
                <span class="list-text">Опубликовать свою edudeda</span>
            </button>

            <button class="list-item" (click)="navigateToOrders()">
                <img class="list-icon-img" src="assets/edadeda.logo.png" alt="Мои edadeda" />
                <span class="list-text">Мои заказы</span>
            </button>

            <button class="list-item">
                <img class="list-icon-img" src="assets/banana.png" alt="Buyer" />
                <span class="list-text">Стать нашим Buyer</span>
            </button>
        </nav>
    </main>

</div>